@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

:root{
    --background:#fff;
    --text-color:black;
    --hover-bg:#EEEEEE;
}

:root[color-theme='dark']{
    --background:#000000;
    --text-color:#fff;
    --hover-bg:#222225;
}

*{
    background-color: var(--background);
    color: var(--text-color);
}

a{
    text-decoration: none;
}

body{
    font-family: 'Noto Sans KR', sans-serif;

}
/* 공통 */
.container{
    max-width: 1200px;
    margin: auto;
}

.btn{
    cursor: pointer;
    padding: .3em .5em;
    border-radius: 20px;
}

.btn:hover{
    background-color: var(--hover-bg);
}

/* 헤더 */
header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 1.5em 0 ;
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.menu{
    display: flex;
    justify-content: center;
}

.menu li {
    margin: 0 .2em;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: normal;
}

.icons i{
    margin: 0 .5em;
    font-size: 1.3rem;
}

.hamberger-btn{
    display: none;
}

.search-wrap{
    padding-top: 1em;
    background-color: var(--background);
    position:absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

.search-wrap label{
    display: flex;
    justify-content: center;
    align-content: center;
    border: 1px solid var(--hover-bg);
    padding: .5em;
    margin: .5em 1em;
}

.search-wrap i{

}

.search-wrap input{
    border: none;
    outline: none;
    flex: 1;
    font-size: 1.3rem;
}

.search-close-btn{
    font-size: 1.3rem;
    align-self: center;
    padding-right: .3em;
    cursor: pointer;
}

@media screen and (max-width : 768px) {
    header{
        display: block;
        position: relative;
    }
    .logo{
        text-align: center;
    }
    .menu{
        margin-top: 1.5em;
        text-align: center;
        display: none;

    }
    .menu li{
        padding: 1em 0;
        border-radius: 0;
    }

    .icons{
        text-align: center;
        margin-top: 1.5em;
        display: none;
    }

    .menu.show{
        display: block;
    }
    .icons.show{
        display: block;
    }

    .hamberger-btn{
        display: block;
        position: absolute;
        font-size: 1.7rem;
        top: .9em;
        right: 1em;
        cursor: pointer;
    }
}
