@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

:root{
    --background:#F8F9FA;
    --text-color:black;
    --hover-bg:#EEEEEE;
    --hover-dark-bg: #3c3c41;
    --card-bg:#fff;
    --tag-color:#888;
    --title-bg:rgba(255,255,255,0.3);

}

:root[color-theme='dark']{
    --background:#000000;
    --text-color:#fff;
    --hover-bg:#222225;
    --hover-dark-bg: #c9c9c9;
    --card-bg:#1E1E1E;
    --title-bg:rgba(0,0,0,0.7);
}

*{
    box-sizing: border-box;
    color: var(--text-color);
}

a{
    text-decoration: none;
}

body{
    font-family: 'Noto Sans KR', sans-serif;
    background-color: var(--background);
}
/* 공통 */
.container{
    max-width: 1200px;
    margin: auto;
}

.btn{
    cursor: pointer;
    padding: .3em .5em;
    border-radius: 20px;
}

.btn:hover{
    background-color: var(--hover-bg);
}

/* 헤더 */
header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 1.5em 2em ;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

header .btn:hover{
    background-color: var(--hover-bg);

}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}
.logo a{
    color: var(--text-color);
}

.menu{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 1.5em;
    left: 50%;
    transform:translateX(-50%);
}

.menu li {
    margin: 0 .2em;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: normal;
    color: white;
}

.icons i{
    margin: 0 .5em;
    font-size: 1.3rem;
    color: var(--text-color) ;
}

.hamberger-btn{
    display: none;
}

.search-wrap{
    padding-top: 1em;
    background-color: var(--background);
    position:absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

.search-wrap label{
    display: flex;
    justify-content: center;
    align-content: center;
    border: 1px solid var(--hover-bg);
    padding: .5em;
    margin: .5em 1em;
}

.search-wrap i{
}

.search-wrap input{
    border: none;
    outline: none;
    flex: 1;
    font-size: 1.3rem;
    background: transparent;
}

.search-close-btn {
    font-size: 1.3rem;
    align-self: center;
    padding-right: .3em;
    cursor: pointer;
}

.title{
    background-image: linear-gradient(to bottom,var(--title-bg),var(--title-bg)),url("/www/assets/image/main-bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.title h1{
    font-family: 'Black Han Sans', sans-serif;
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: .3em;
    color:var(--text-color);
}

.title h2{
    font-family: 'Black Han Sans', sans-serif;
    font-size: 2.5rem;
    text-align: center;
    color:var(--text-color);
}

section{
    max-width: 1200px;
    margin: auto;
    width: 100%;
    padding-bottom: 5rem;
}

@media screen and (max-width : 768px) {
    header{
        display: block;
        background-color: var(--background);
    }

    header .btn{
        color: var(--text-color);
    }

    .btn:hover{
        background-color: var(--background);
        color: var(--text-color);
    }

    .logo{
        text-align: center;
    }

    .menu{
        margin-top: 1.5em;
        text-align: center;
        display: none;
        position: static;
        transform:translateX(0);
    }
    .menu li{
        padding: 1em 0;
        border-radius: 0;
    }

    .icons{
        text-align: center;
        margin-top: 1.5em;
        display: none;
    }

    .menu.show{
        display: block;

    }
    .icons.show{
        display: block;

    }

    .hamberger-btn{
        display: block;
        position: absolute;
        font-size: 1.7rem;
        top: .9em;
        right: 1em;
        cursor: pointer;
    }
}
