#view_content{
    width: 100%;
}

#view_content li{

}

.col1{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: .5em 0;
}

.col2{
    display: flex;
    justify-content: end;
    margin-bottom: .8em;
}

.content-box{
    margin-top: 1em;
}
.post-btn{
    margin-left: .3em;
    border-radius: 5px;
    background-color: var(--hover-bg);
    padding: .1em .5em;
}

.post-btn:hover{
    background-color: var(--hover-dark-bg);
}

@media screen and (max-width: 768px) {
    #view_content{
        padding: .5em 1em;
    }
}