.tags{
    margin: 1.5em;
}
.tags h1{
    font-size: 2rem;
    font-weight: bold;

}

.tags ul{
    display: flex;
    margin: 2em 0;
    gap: 1em;
}

.tags ul li{
    font-weight: 500;
    background: var(--card-bg);
    padding: .5em 1em;
    border-radius: 20px;
    cursor: pointer;
    transition: 250ms;
}

.tags ul li:hover{
    transform: translateY(-3px);
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    place-items: center;
    row-gap: 1em;
}

.card{
    max-width: 300px;
    margin: 0 1em;
    background: var(--card-bg);
    color: var(--text-color);
    border-radius: 14px;
    box-shadow: 4px 12px 30px 6px rgb(0 0 0 / 9%);
    transition: 250ms;
}

.card:hover{
    transform:translateY(-10px);
}

.card__title{
    font-size: 1.5rem;
    padding: 1rem 2rem .3rem 2rem;
    font-weight: bold;
}
.card__tags{
    padding: .8em 2rem;
    color: var(--tag-color);
    font-size: .8em;
    line-height: 1.3em;

}
.card__thumbnail{
    width: 100%;
    display: block;
    border-radius: 0 0 14px 14px;
}

@media screen and (max-width: 748px) {
    .tags h1{
        text-align: center;
    }
    .tags ul{
        justify-content: center;
    }
}